.charactersList {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
  }

  .divider {
    border: 0;
    height: 1px;
    background-color: var(--text-primary);
  }

  .characterCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: 20px;
  }
}
