.characterList {
  background-color: var(--page-background);
  padding: 24px;

  .pageContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    .leftSideContainer {
      display: grid;
      gap: 20px;
      grid-template-rows: 130px 1fr;
    }

    .rightSideContainer {
      display: grid;
      grid-template-rows: 299px 243px 221px;
      gap: 20px;
    }
  }
}
